*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.header{
    height: 1033px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("http://pic.90sjimg.com/back_pic/u/00/00/95/36/55e6bb255921d.jpg");
    /*background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1526015064705&di=2be6a8bc5152717d87138ba20a721583&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Fb21bb051f8198618b4505a5040ed2e738ad4e6cb.jpg");*/
}
h1{
    font-size: 62px;
    text-align: center;
    width: 755px;
    padding-top: 353px;
    color: white;
    margin:0 auto;
}
.text{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 70px 420px 0 420px;
    line-height: 2;
}
.create{
    color: white;
    font-size: 16px;
    padding-top: 15px;
}
.footer{
    font-size: 12px;
    color: silver;
    padding-top: 10px;
}
.signUpForm{
    margin: 50px 320px;
    border: dimgrey solid 1px;
    padding: 40px 40px;
}
.btnGroup{
    width: 100%;
    margin-top: 25px;

    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
input{
    /*margin-right: 15px;*/
    height: 30px;
    font-size: 14px;
    background-color:transparent;
    border: silver solid 1px;

    flex-grow: 2;
}
#btn{
    background-color: white;
    border-radius: 5px;
    flex-grow: 0.7;
    cursor: pointer;
}
.content{
    padding: 40px;
    margin-bottom: 40px;
}
.sectionH{
    padding: 40px 0;
}
.singleContainer{
    margin: 10px 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single{
    width: 40%;
    text-align: left;
    margin-top: 50px;
    flex-grow: 1.2;

}
.left{
    width: 30px;
    height: 40px;
    float: left;
    margin-right: 20px;
}
.right{
    overflow: auto;
}
.sectionA{
    background-image: url("./img/前端切图_0002s_0002s_0005_图层-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: space-between;
}
.sectionA input{
    color: white;
}
.sectionA img{
    padding: 20px 0 20px 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: gainsboro solid 1px;
    border-bottom: gainsboro solid 1px;
    border-left: gainsboro solid 1px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
}
.floatLeft{
    text-align: left;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}
.floatLeft h2, .floatLeft p, .floatLeft div{
    margin-top: 40px;
}
.floatLeft div input{
    height: 40px;
    text-align: center;
    padding: 0 10px;
}
.floatLeft div input:hover{
    color: black;
    background-color: white;
}
.sectionB{
    margin: 40px auto;
    width: 80%;
}

.boxContainer{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.box{
    width: 25%;
}
.box img{
    margin-bottom: 20px;
}
.sectionCInner{
    width: 80%;
    padding: 40px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img3{
    width: 50%;
    height: 350px;
    margin: 30px 50px;
}
.text2{
    width: 30%;
    text-align: left;
    margin: 50px 50px;
}
.sectionD{
    width: 70%;
    margin: 40px auto;
    line-height: 1.5;
}
.crewBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.crew{
    position: relative;
}
.crew img{
    width: 350px;
    height: 300px;
}
.hidden{
    background-color: black;
    opacity: 0.5;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 300px;
}
.crew:hover .hidden{
    display: block;
}
.hidden3{
    display: flex;
    justify-content: center;
}
.hidden3 a img{
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: white solid 1px;
    margin: 10px;
}
.hoverText{
    padding-top: 30%;
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: darkgray solid 1px;
    border-radius: 20px;
    padding: 20px;
    width: 40%;
}
.sectionE{
    display: flex;
    justify-content: space-around;
    height: 500px;
    padding: 30px;
}
.contacts{
    padding-top: 10%;
}
.contacts img{
    float: left;
    padding-top: 15px;
}
.floatImg{
    overflow: auto;
}
.contacts h2,.contacts p{
    padding-top: 15px;
}
.form p,.form input, .form button,.form textarea{
    margin-top: 20px;
    flex-grow: 0;
}
footer{
    width: 95%;
    padding: 40px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: gray;
}
.footerBox>:first-child{
    color: white;
}
.footerBox p{
    padding-top: 15px;
}















